[submodule "code/sensorstation/esp-idf/components/arduino"]
	path = code/sensorstation/esp-idf/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "tools/sensorstation/esp-idf"]
	path = tools/sensorstation/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "tools/sensorstation/mkspiffs"]
	path = tools/sensorstation/mkspiffs
	url = https://github.com/igrr/mkspiffs.git
[submodule "code/sensorstation/esp-idf/components/arduino-json"]
	path = code/sensorstation/esp-idf/components/arduino-json
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "code/sensorstation/esp-idf/components/adafruit_ads1x15"]
	path = code/sensorstation/esp-idf/components/adafruit_ads1x15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
