/basis-staion/part_dejan/BasisStation/nbproject/private/
# Marc
/tools/sensorstation/nodemcu
/tools/sensorstation/export_esp_paths.sh
/tools/sensorstation/paths.txt
/pictures/sensorstation/dismissed/
/code/sensorstation/esp-idf/build/
/code/sensorstation/esp-idf/nbproject/private/
/code/sensorstation/nodeMCU




# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# derby database
caos-weather/null/
*.dat

# Gradle files
**/.gradle/
caos-weather/build/

# Avoid ignoring docs
!caos-weather/build/docs/

# Intllj files
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/libraries/



# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

/code/basestation/caos-weather/.nb-gradle/
/code/basestation/caos-weather/build/