
#
# ID[int]:      Unique identifier
# Name[char_32]:  Name describing the sensor
# Type[int]:    Sensor type (see sensortypes.config
# I2C[bool]:    True: Sensor is connected at I2C / False: Sensor is connected at ADC
# Adress[int]:  10bit I2C adress or bit number of adc
# Handler[int]: Function for handling the connection
#
#ID,    Name,   Type,   I2C,   Adress,  Handler
#
0, Raumtemperatur,      0,  0,  34,
0, Luftfeuchtigkeit,    1,  1,  132, 1

